@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-Italic";
  src: url(../fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: "Lato-Thin";
  src: url(../fonts/Lato-Thin.ttf);
}

/*
 ██████╗ ███████╗███████╗███████╗████████╗
 ██╔══██╗██╔════╝██╔════╝██╔════╝╚══██╔══╝
 ██████╔╝█████╗  ███████╗█████╗     ██║   
 ██╔══██╗██╔══╝  ╚════██║██╔══╝     ██║   
 ██║  ██║███████╗███████║███████╗   ██║   
 ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝   ╚═╝   
                                          
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Lato-Light", "sans-serif";
  box-sizing: border-box;
  --imagewidth: 70%;
  --messagewidth: 95%;
  --sombre : #202b38;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--sombre)
}

/*
███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗     ██████╗ ██████╗ ███╗   ██╗████████╗███████╗███╗   ██╗████████╗
██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝████╗  ██║╚══██╔══╝
███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║    ██║     ██║   ██║██╔██╗ ██║   ██║   █████╗  ██╔██╗ ██║   ██║   
╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║    ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══╝  ██║╚██╗██║   ██║   
███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║    ╚██████╗╚██████╔╝██║ ╚████║   ██║   ███████╗██║ ╚████║   ██║   
╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝     ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝╚═╝  ╚═══╝   ╚═╝   
*/

.border {
  border: solid rgba(211, 211, 211, 0.205) 1px;
}
.border hr {
  border: solid rgba(211, 211, 211, 0.205) 1px;
}
.content h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.home {
  width: 100%;
  margin-left: 2rem;
}

.profil {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}
.message_user {
  width: 100%;
  overflow: auto;
  margin: auto;
}
.message-content {
  margin-left: 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
#new-message {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  word-wrap: break-word;
  margin-left: 2rem;
}

.message {
  position: relative;
  display: flex;
  padding: 1.5rem 0;
  border: solid rgba(211, 211, 211, 0.205) 1px;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}

.message img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  z-index: 10;
}
.user-info {
  position: relative;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  word-wrap: break-word;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 15px;
  width: 100%;
}

.user-name {
  font-weight: 800;
  margin-right: 5px;
  margin-bottom: 0.5rem;
}

.user-handle {
  color: #666;
  flex-grow: 1;
  flex-basis: 100%;
  margin-bottom: 8px;
}

.message-time {
  color: #666;
  margin-bottom: 0.5rem;
}

.message-text {
  margin-top: 5px;
  font-size: 16px;
  word-wrap: break-word;
  width: 100%;
}
.message-image {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 48px;
  margin-right: 10px;
}

/* 
██████╗  █████╗ ██████╗ ██████╗ ███████╗    ██████╗ ███████╗    ██████╗ ███████╗ ██████╗██╗  ██╗███████╗██████╗  ██████╗██╗  ██╗███████╗    
██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔════╝    ██╔══██╗██╔════╝    ██╔══██╗██╔════╝██╔════╝██║  ██║██╔════╝██╔══██╗██╔════╝██║  ██║██╔════╝    
██████╔╝███████║██████╔╝██████╔╝█████╗      ██║  ██║█████╗      ██████╔╝█████╗  ██║     ███████║█████╗  ██████╔╝██║     ███████║█████╗      
██╔══██╗██╔══██║██╔══██╗██╔══██╗██╔══╝      ██║  ██║██╔══╝      ██╔══██╗██╔══╝  ██║     ██╔══██║██╔══╝  ██╔══██╗██║     ██╔══██║██╔══╝      
██████╔╝██║  ██║██║  ██║██║  ██║███████╗    ██████╔╝███████╗    ██║  ██║███████╗╚██████╗██║  ██║███████╗██║  ██║╚██████╗██║  ██║███████╗    
╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═════╝ ╚══════╝    ╚═╝  ╚═╝╚══════╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚══════╝    
*/
#search-bar {
  display: none;
  border: solid rgba(211, 211, 211, 0.205) 1px;
  border-top: none;
  padding: 1rem 0;
}

#search-bar:not(.hidden) {
  display: block;
  text-align: center;
}

#search-bar input {
  width: 95%;
  padding: 1rem;
  background-color: #2a394a;
  border: none;
  border-radius: 27px 27px 27px 27px;
  -webkit-border-radius: 27px 27px 27px 27px;
  -moz-border-radius: 27px 27px 27px 27px;
  margin: 5px 0;
  color: white;
}
.sidebar-right {
  display: none;
}

/*
███████╗██╗██████╗ ███████╗██████╗  █████╗ ██████╗       ██████╗ ██╗ ██████╗ ██╗  ██╗████████╗
██╔════╝██║██╔══██╗██╔════╝██╔══██╗██╔══██╗██╔══██╗      ██╔══██╗██║██╔════╝ ██║  ██║╚══██╔══╝
███████╗██║██║  ██║█████╗  ██████╔╝███████║██████╔╝█████╗██████╔╝██║██║  ███╗███████║   ██║   
╚════██║██║██║  ██║██╔══╝  ██╔══██╗██╔══██║██╔══██╗╚════╝██╔══██╗██║██║   ██║██╔══██║   ██║   
███████║██║██████╔╝███████╗██████╔╝██║  ██║██║  ██║      ██║  ██║██║╚██████╔╝██║  ██║   ██║   
╚══════╝╚═╝╚═════╝ ╚══════╝╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝      ╚═╝  ╚═╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   
*/

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
  flex: 1;
  overflow: hidden;
}

.sidebar-right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(30% - 20px);
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: var(--sombre);
  display: none;
}
.mysuggestion {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.3rem 0;
}
.mysuggestion #last {
  padding-bottom: 2rem;
}
.suggestion-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.suggestion-container img {
  max-width: 100%;
  width: 30%;
  border-radius: 50%;
}

.suggestion-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  font-size: 1rem;
}
.background {
  background-color: #2a394a;
  border-radius: 27px 27px 27px 27px;
  -webkit-border-radius: 27px 27px 27px 27px;
  -moz-border-radius: 27px 27px 27px 27px;
  width: 80%;
  margin: auto;
  border: solid rgba(211, 211, 211, 0.205) 1px;
}
.mysuggestion .background h2 {
  margin-top: 20px;
  padding-top: 20px;
  font-size: 1.8rem;
}
.suggestion-follow {
  padding: 0.5rem 1.5rem;
  border-radius: 17px 17px 17px 17px;
  -webkit-border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  background-color: rgb(16, 180, 180);
  cursor: pointer;
  border: none;
}
.mysuggestion hr {
  border: solid rgba(211, 211, 211, 0.205) 1px;
  margin: 12px 0;
}
/*
███╗   ███╗███████╗██████╗ ██╗ █████╗      ██████╗ ██╗   ██╗███████╗██████╗ ██╗███████╗███████╗    ███████╗███████╗ ██████╗     ██████╗ ██╗  ██╗
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ██╔═══██╗██║   ██║██╔════╝██╔══██╗██║██╔════╝██╔════╝    ██╔════╝╚════██║██╔════╝     ██╔══██╗╚██╗██╔╝
██╔████╔██║█████╗  ██║  ██║██║███████║    ██║   ██║██║   ██║█████╗  ██████╔╝██║█████╗  ███████╗    ███████╗    ██╔╝███████╗     ██████╔╝ ╚███╔╝ 
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║    ╚════██║   ██╔╝ ██╔═══██╗    ██╔═══╝  ██╔██╗ 
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ╚██████╔╝╚██████╔╝███████╗██║  ██║██║███████╗███████║    ███████║   ██║  ╚██████╔╝    ██║     ██╔╝ ██╗
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝     ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝    ╚══════╝   ╚═╝   ╚═════╝     ╚═╝     ╚═╝  ╚═╝
*/

@media (min-width: 576px) {
  .sidebar-right {
    display: block;
    float: right;
    border: solid 1px rgba(211, 211, 211, 0.205);
  }
  #search-bar:not(.hidden) {
    width: 100%;
  }
}
/* 
███╗   ███╗███████╗██████╗ ██╗ █████╗      ██████╗ ██╗   ██╗███████╗██████╗ ██╗███████╗███████╗     ██╗██╗  ██╗ ██████╗  ██████╗ ██████╗ ██╗  ██╗
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ██╔═══██╗██║   ██║██╔════╝██╔══██╗██║██╔════╝██╔════╝    ███║██║  ██║██╔═████╗██╔═████╗██╔══██╗╚██╗██╔╝
██╔████╔██║█████╗  ██║  ██║██║███████║    ██║   ██║██║   ██║█████╗  ██████╔╝██║█████╗  ███████╗    ╚██║███████║██║██╔██║██║██╔██║██████╔╝ ╚███╔╝ 
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║     ██║╚════██║████╔╝██║████╔╝██║██╔═══╝  ██╔██╗ 
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ╚██████╔╝╚██████╔╝███████╗██║  ██║██║███████╗███████║     ██║     ██║╚██████╔╝╚██████╔╝██║     ██╔╝ ██╗
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝     ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝     ╚═╝     ╚═╝ ╚═════╝  ╚═════╝ ╚═╝     ╚═╝  ╚═╝
*/

@media (min-width: 1400px) {
  .suggestion-container img {
    width: 20%;
  }
  .sidebar-right {
    width: 25%;
  }
  .background {
    width: 65%;
  }
  #search-bar:not(.hidden) {
    width: 100%;
  }
}
